@import './bootstrap-reboot.css';
@import './bootstrap-grid.css';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Work Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  overflow-x: hidden;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

a,
a:hover,
a:active,
a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
img {
  image-rendering: auto;
}

button {
  white-space: nowrap;
  display: inline-block;
  border: 0;
}

#__next {
  min-height: 100%;
}

#layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
main {
  width: 100%;
  min-height: 100vh;
}

.ripple {
  display: inline-block;
  color: rgb(0, 21, 36);
}
