@import './bootstrap-reboot.css';
@import './bootstrap-grid.css';

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/work_sans/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/work_sans/WorkSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Lufga';
  font-style: normal;
  font-weight: 400;
  src: local('Lufga-Regular'),
    url('/fonts/lufga_fonts/Lufga-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Lufga-SemiBold'),
    url('/fonts/lufga_fonts/Lufga-SemiBold.otf') format('opentype');
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html,
body {
  font-family: 'Work Sans';
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100vh;
}

a,
a:hover,
a:active,
a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lufga';
}

button {
  white-space: nowrap;
  display: inline-block;
  border: 0;
}

#__next {
  min-height: 100%;
}

#layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
